<div>

    <table class="table table-bordered">
 
        <thead class="thead-andes">
        <tr>
          <th scope="col" sortable="clientName" (sort)="onSort($event)">Nombre de empresa</th>
          <th scope="col" sortable="people" (sort)="onSort($event)">Personas</th>
          <th scope="col">Día</th>
          <th scope="col">Hora</th>
          <th scope="col">Valor venta</th>
        </tr>
        </thead>
        <svg class="table-spinner" viewBox="0 0 50 50">
            <circle class="loading-path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        <tbody *ngIf="isDataAvailable">
        <tr *ngFor="let sale of data">
          <td>{{ sale.name }}</td>
          <td>{{ sale.persons | number }}</td>
          <td>{{ sale.day}}</td>
          <td>{{sale.hour}}</td>
          <td>${{sale.finalPrice}}</td>
        </tr>
        </tbody>
      </table>
</div>
